<h1>RecipeCategories#new</h1>
<p>Find me in app/views/recipe_categories/new.html.erb</p>

<%= simple_form_for @recipeCategory do |f| %>
	<%= f.input :name, label: "Category name" %>
	<%= f.button :submit, class: "btn btn-default" %>
<% end %>
