<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">

<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, 
					url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, label: false, 
    			input_html: { placeholder: "email@example.com" }, 
    			required: true, autofocus: true %>
    <%= f.input :password, label: false, 
    			input_html: { placeholder: "password" },
    			required: true, 
    			hint: ("#{@minimum_password_length} 
    			characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: false, 
    			input_html: { placeholder: "password" },
    			required: true %>
  </div>

  <div class="form-actions row">
    <%= f.button :submit, "Start cooking", class: "col-sm-8 col-sm-offset-2" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
