<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
	<h2><%= recipe.title %></h2>
	<p>Summary: <%= recipe.summary %></p>
	<p>Instructions: <%= recipe.instructions %></p>
	<p>Category: <%= recipe.recipe_category.name %></p>
	<p>Ingredients: 
		<ul><% recipe.ingredients.each do |ingredient| %>
			<li><%= "#{ingredient.amount} #{ingredient.product.unit.name} 
					 #{ingredient.product.name}" %></li>
			<% end %>
		</ul>
	</p>
<% end %>