<h1>Create new recipe</h1>

<%= simple_form_for @recipe do |f| %>
	<%= f.input :title %>
	<%= f.input :summary %>
	<%= f.input :timeToPrepare %>
	<%= f.input :instructions %>
	<%= f.input :category, collection: @categories,	label: "Category", 
				include_blank: false %>
	<%= f.association :ingredients, collection: @products, as: :check_boxes %>
	<%= f.button :submit, class: "btn btn-default" %>
<% end %>