<h1>ProductCategories#new</h1>
<p>Find me in app/views/product_categories/new.html.erb</p>


<%= simple_form_for @category do |f| %>
	<%= f.input :name %>
	<%= f.button :submit, class: "btn btn-default" %>
<% end %>