
<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, 
					url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, label: false, 
    					input_html: { placeholder: "email@example.com" },
    					required: false, autofocus: true %>
    <%= f.input :password, label: false,
    						input_html: { placeholder: "password" },
    						required: false %>
   
  </div>

  <div class="form-actions row">
    <%= f.button :submit, "Start cooking", class: "col-sm-8 col-sm-offset-2"%>
  </div>
<% end %>
<div class="deviseLinks">
	<%= render "devise/shared/links" %>
</div>
