$('body').prepend("<%= j (render 'form2') %>");

$('.overlay').fadeIn();
$('.login').fadeIn();
$('.overlay').click(function(){
	$('.overlay').fadeOut(function(){ $(this).remove()});
	$('.login').fadeOut();
});

