<div class="row cookContent">
	<div class="col-sm-8">
		<div class="recipes">
			<div class="recipesWrapper">
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			<p>recipes go here<p>
			</div>
		</div>
	</div>
	<div class="storage col-sm-4">
		<div class="col-sm-12">
			<%= form_tag new_storing_path, method: :get, remote: true, class: 'navbar-form navbar-left' do %>
			<div class="col-sm-10">
		   		<div class='form-group'>
		    		<%= text_field_tag :query, params[:query], id: "navbar-search-input", class: 'form-control', placeholder: 'Product name.....' %>
		   		</div>
		   	</div>
		   	<div class="col-sm-2">
		   		<%= button_tag(type: 'submit', id: 'navbar-search-btn', class: 'btn btn-default') do %>
		     		<span class='glyphicon glyphicon-plus'></span>
		   		<% end %>  
		   	</div>
			<% end %>
		</div>
	<p>storage go here</p>
	</div>
</div>