<div class="row">
	<div class="col-sm-5">
		<h1><span>CHEF</span><br>the next generation kitchen app</h1>
		<div class="features">
			<p>
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				Keep track of your food storage.
			</p>
			<p>
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				Get recipes instantly. No searching.
			</p>
			<p>
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				Menage your diet and eat healthy.
			</p>
			<p>
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				Register. It's free and always will be.
			</p>
		</div>
		<%= link_to 'Cook', new_user_session_path, remote: true, 
			class:"ctaBtn btn btn-primary col-sm-8 col-sm-offset-2 col-xs-12" %>
	</div>
	<div class="col-sm-7">
		<div class="video"><%= image_tag('video.png', width: "100%") %></div>
	</div>
</div>
