/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Parisienne);

html{
	 overflow-y:scroll;
}
.navbar{
	background-color: #FF8257
}

.navbarTop{
	border-radius: 0px !important;
}

.logo{
	width: 64px;
	height: 64px;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	border: 2px solid #FF8257;
	background-image: url(image_path('hat2.png'));
	background-size: 64px 64px;
	background-position: -2px -2px;
}

.navbar-right{
	margin-right: -10px !important;

	.fb, .twitter, .gplus, .pint{
		cursor: pointer;
		margin: 9px 4px;
		width: 32px;
		height: 32px;
		background-size: 34px 34px;
		background-position: -1px -1px;
		border-radius: 12px;
		-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     
     	&:hover{
     		filter: none;
            -webkit-filter: grayscale(0%);
            -moz-filter: none;
            -o-filter: none;
     	}
	}

	.fb{
		background-image: url(image_path('fb.png'))
	}

	.twitter{
		background-color: white;
		background-image: url(image_path('twitter.png'))
	}

	.gplus{
		background-image: url(image_path('gplus.png'))
	}
	
	.pint{
		background-image: url(image_path('pint.png'))
	}
}

body{
	background: url(image_path('background.jpg')) no-repeat center 50px fixed;
	background-size: cover;
}

h1{
	font-family: 'Parisienne', cursive !important;
	color: #F46230 !important;
	font-size: 2.7vw !important;
	span{
		font-size: 9vw;
		color: #333333 !important;
	}

}

.content{
	background: rgba(255,255,255,0.5);
	border-radius: 4px;
	text-align: center;
	margin-top:79px;
}

.video{
	margin: 30px;
	img{
		border-radius: 40px;
	}
}

.features{
	text-align: left;
	margin: 25px 0px;
	margin-left: 4%
}

.btn-primary{
	font-family: 'Parisienne', cursive !important;
	font-size: 2.7vw !important
}

.navbar-toggle .icon-bars-button{
  display: inline-block;
  vertical-align:middle;
}
.navbar-toggle .icon-bar {
  margin-bottom:2px;
  display: block;
  width: 22px;
  height: 2px;
  border: solid 2px #F46230;
  border-radius: 1px;
}

.ctaBtn{
	background: #FF8257;
	border-color: #FF8257;

	&:hover{
		background: #e94809;
		border-color: #e134ed;
	}

	&:active{
		background: #e94809;
		border-color: #e134ed;
		&:focus{
			background: #e94809;
			border-color: #e134ed;	
		}
	}
	&:visited{
		background: #F46230;
		border-color: #EF5559;
	}
	&:focus{
		background: #e94809;
		border-color: #e134ed;
	}
}

.overlay {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1031;
}

/* just some content with arbitrary styles for explanation purposes */
.login {
	display: none;
    width: 300px;
    position: fixed;
    padding:20px;
    padding-top:0px;
    top: 50%; 
    left: 50%;
    margin-top: -125px;
    margin-left: -150px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    z-index: 1032; /* 1px higher than the overlay layer */
}

.deviseLinks{
	margin-top:15px;
}

.visible{
	display: block;
}

.lastSocialMedia{
	margin-right:40px
}

.cookContent{
	border-radius: 6px;
	border: 2px solid #FF8257;
}

.recipes {
	width:100%;
	overflow: hidden;
	height: 80vh;
}

.recipesWrapper {
    width: 105%;
    height: 100%;
    overflow: auto;

}

.storage{
	border-left: 2px solid #FF8257;
	background-color: rgba(0,0,0,0.6);
	border-radius: 0px 4px 4px 0px;
	height: 80vh;
}

.ui-helper-hidden-accessible { display:none; }

.ui-autocomplete{
	width:100px;
	background: rgba(255,255,255,1);
}