<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<% @products.each do |product| %>
	<p><%= product.name %></p>
	<p><%= product.product_category.name %></p>
	<p><%= product.unit.name %></p>
<% end %>
