<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>

<%= simple_form_for @product do |f| %>
	<%= f.input :name %>
	<%= f.input :unit, collection: @units, label: "Unit", 
				include_blank: false %>
	<%= f.input :category, collection: @categories,	label: "Category", 
				include_blank: false %>
	<%= f.button :submit, class: "btn btn-default" %>
<% end %>
