<!DOCTYPE html>
<html>
<head>
  <title>Chef</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="nav navbar navbarTop navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" 
						data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		     	</button>
				<div class="navbar-brand">
					<div class="logo"></div>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				
				<ul class="nav navbar-nav navbar-right">
					<li><div class="twitter"></div></li>
					<li><li><div class="gplus"></div></li>
					<li><div class="pint"></div></li>
					<li class="lastSocialMedia"><div class="fb"></div></li>
					<% if user_signed_in? %>
					<li><%= link_to destroy_user_session_path, method: :delete do %>
						<span class="glyphicon glyphicon-off logout"></span>
						<% end %>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="container content">
		<%= yield %>
	</div>
</body>
</html>
